<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <!--TODO: figure out how to link the stylesheet-->
    <!-- <link rel="stylesheet" href="./css/styles.css"> -->
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="calendar">
    <div class="home">
      <a href="http://127.0.0.1:5000/dashboard">Home</a>
    </div>
    <div class="month">  
        <ul>
            <li class="current_month_cal">
              <a href="{{url_for('calendar', month=current_month, year=current_month_year)}}"> Go To Current Month </a>
            </li>
            {% if previous_month != None %}
              <!-- 'prev' class for back arrow button that links to the home page with last month's calendar-->
              <li class="prev">
                  <a href="{{url_for('calendar', month=previous_month, year=previous_month_year)}}"> &#10094 </a>
              </li>
            {% endif %}
            {% if next_month != None %}
              <!-- 'next' class for forward arrow button that links to the home page with next month's calendar-->
              <li class="next" >
                  <a href="{{url_for('calendar', month=next_month, year=next_month_year)}}"> &#10095 </a>
              </li>
            {% endif %}
            <li>
                {{ month_and_year }}
            </li>
        </ul>
      </div>
    <ul class="weekdays">
        <!-- list for the days of the week -->
        <li>Su</li>
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
    </ul>
    <ul class="days"> 
        <!-- list for days in the month. Depending on what day of the week the 1st is, add extra positions at the beginning -->
        {% if weekday == 0: %}
        <li></li>
        {% endif %}
        {% if weekday == 1: %}
        <li></li>
        <li></li>
        {% endif %}
        {% if weekday == 2: %}
        <li></li>
        <li></li>
        <li></li>
        {% endif %}
        {% if weekday == 3: %}
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        {% endif %}
        {% if weekday == 4: %}
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        {% endif %}
        {% if weekday == 5: %}
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        {% endif %}
        <!-- add one position per day in the given month, and display the date for each day.-->
        {% for day in days: %}
        <li class="calendar_days">
            <!-- Add a link to the url for edit_day, and add the id of the selected day to the end of the url (ex: /edit?id=1)-->
            <!-- The link is followed by clicking on each number day in the calendar-->
            <a class = 'day_link' href="{{ url_for('day_details', month=month, date=day['id'], year=year) }}">{{ day["id"] }}</a>
            <!-- If the 'period_started' column for the given day is equal to 'Yes', add the 🩸 emoji -->
            {% if day['period_started'] == 'Yes': %}
              <a>🩸</a>
            {% endif %}
            <!-- If the 'period_ended' column for the given day is equal to 'Yes', add the 🎉 emoji -->
            {% if day['period_ended'] == 'Yes': %}
              <a>🎉</a>
            {% endif %}
            <!-- If any sympotoms are recorded other than period started or ended show 🌀-->
            {% if day['headache'] == 'Yes' or day['acne'] == 'Yes' or day['fatigue'] == 'Yes' or day['cramps'] == 'Yes'%}
              <a>🌀</a>
            {% endif %}
            <!-- If the predicted_period_days is equal to the list and not None...-->
            {% if predicted_period_days != None: %}
              <!-- If the 'date' column for the given day is in the predicted_period_days list, add the 🔘 emoji -->
              {% if day['date'] in predicted_period_days: %}
                <a>🔘</a>
              {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
  </div>
  <div class="key">
    <p>🩸Period Started &emsp;&emsp;&emsp;🎉Period Ended &emsp;&emsp;&emsp;🔘Potential Period Day &emsp;&emsp;&emsp;🌀Symptoms</p>
  </div>
</body>
</html>