<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Date</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!--TODO: make the dropdown option menu for each characteristic display what is currently in the database-->
    <!--Maybe using the 'selected' attribute??-->
    <form action="{{ url_for('day_details') }}" method="POST">
        <!-- Allow user to edit period_started, period_ended, and symptoms. Then save changes to the database-->
        <label>Has your period started? {{ day['period_started'] }}</label>
        {% if day['period_started'] == 'Yes' %}
            <select name="period_start">
                <option value="No"> No</option>
                <option value="Yes" selected="selected">Yes</option>
            </select>
        {% endif %}
        {% if day['period_started'] == 'No' %}
            <select name="period_start">
                <option value="No" selected="selected"> No</option>
                <option value="Yes">Yes</option>
            </select>
        {% endif %}
        <br><br>
        <label>Has your period ended? {{ day['period_ended'] }}</label>
        {% if day['period_ended'] == 'Yes' %}
            <select name="period_ended">
                <option value="No"> No</option>
                <option value="Yes" selected="selected">Yes</option>
            </select>
        {% endif %}
        {% if day['period_ended'] == 'No' %}
            <select name="period_ended">
                <option value="No" selected="selected"> No</option>
                <option value="Yes">Yes</option>
            </select>
        {% endif %}
        <br><br>
        <label>Do you have a headache? {{ day['headache'] }}</label>
        {% if day['headache'] == 'Yes' %}
            <select name="headache">
                <option value="No"> No</option>
                <option value="Yes" selected="selected">Yes</option>
            </select>
        {% endif %}
        {% if day['headache'] == 'No' %}
            <select name="headache">
                <option value="No" selected="selected"> No</option>
                <option value="Yes">Yes</option>
            </select>
        {% endif %}
        <br><br>
        <label>Do you have cramps? {{ day['cramps'] }}</label>
        {% if day['cramps'] == 'Yes' %}
        <select name="cramps">
            <option value="No"> No</option>
            <option value="Yes" selected="selected">Yes</option>
        </select>
        {% endif %}
        {% if day['cramps'] == 'No' %}
            <select name="cramps">
                <option value="No" selected="selected"> No</option>
                <option value="Yes">Yes</option>
            </select>
        {% endif %}
        <br><br>
        <label>Do you have acne? {{ day['acne'] }}</label>
        {% if day['acne'] == 'Yes' %}
            <select name="acne">
                <option value="No"> No</option>
                <option value="Yes" selected="selected">Yes</option>
            </select>
        {% endif %}
        {% if day['acne'] == 'No' %}
            <select name="acne">
                <option value="No" selected="selected"> No</option>
                <option value="Yes">Yes</option>
            </select>
        {% endif %}
        <br><br>
        <label>Are you feeling tired? {{ day['fatigue'] }}</label>
        {% if day['fatigue'] == 'Yes' %}
            <select name="fatigue">
                <option value="No"> No</option>
                <option value="Yes" selected="selected">Yes</option>
            </select>
        {% endif %}
        {% if day['fatigue'] == 'No' %}
            <select name="fatigue">
                <option value="No" selected="selected"> No</option>
                <option value="Yes">Yes</option>
            </select>
        {% endif %}
        <br><br>
        <!--Include the lines below so that when submitting, can draw the day, month, and year for the specific day from the form so the db can be updated-->
        <input hidden="hidden" name="day" value="{{ day['id'] }}">
        <input hidden="hidden" name="month" value="{{ month }}">
        <input hidden="hidden" name="year" value="{{ year }}">
        <input hidden="hidden" name="table_name" value="{{ table_name }}">
        <!--Button that saves the changes to the database-->
        <button type="submit">Save</button>
    </form>
</body>
</html>